.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

#hamburger-header {
  background: #f4f4f4;
  width: 100%;
  height: 60px;
  overflow: hidden;
  padding: 0.5rem 0;
}

#hamburger-hero img {
  height: 60px;
}

#hamburger-hero {
  height: 60px;
  width: 60px;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 7;
}

.menu-wrap #hamburger-header h1 {
  width: 100vw;
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  font-family: 'Fugaz One', cursive;
  text-transform: uppercase;
  font-weight: 100;
  padding-top: 0.6rem;
}

#hamburger-hero {
  display: none;
}

.menu-wrap #hamburger-header h1 span {
  color: red;
}


/* Hambuger Checkbox insertion (hidden behind the design) */
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

/* Hamburger box background */
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: rgba(204, 204, 204);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Middle Line */
.menu-wrap .hamburger>div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Top & Bottom Lines */

.menu-wrap .hamburger>div:before,
.menu-wrap .hamburger>div:after {
  content: '';
  position: absolute;
  z-index: 5;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu-wrap .hamburger>div:after {
  top: 10px;
  height: 2px;
}

/* Toggler Animation */

.menu-wrap .toggler:checked+.hamburger>div {
  transform: rotate(135deg);
}

/* Turns Lines into X */
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover+.hamburger>div {
  transform: rotate(225deg);
}

/* Show menu when clicked */
.menu-wrap .toggler:checked~.menu {
  visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

/* Overlay with list items */
.menu-wrap {
  display: none;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Overlay Background */
.menu-wrap .menu>div {
  background: rgba(251, 251, 251, 0.7);
  border-radius: 50%;
  width: 300vw;
  height: 300vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}

/* Items Fade-in */
.menu-wrap .menu>div>div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

/* Items style */
.menu-wrap .menu>div>div>ul>li {
  list-style: none;
  color: red;
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: bold;
}

.menu-wrap .menu>div>div>ul>li>a,
.menu-wrap .menu>div>div>ul>li>a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li:hover {
  color: #333;
}

.menu-wrap ul li {
  display: block;
  padding: 1rem;
  position: relative;
}

/* Hide Nested ul by default */

.menu-wrap ul li ul {
  position: absolute;
  visibility: none;
  opacity: 0;
}


/* Nested dropdown Show */

.menu-wrap ul li:hover ul {
  visibility: visible;
  position: absolute;
  left: 0;
  width: 200px;
  margin-top: 1rem;
  opacity: 1;
  transition: opacity 1s ease;
}

.menu-wrap ul li:hover ul li {
  width: 100%;
}

.menu-wrap ul li:hover ul li a {
  font-size: 1.2rem;
  color: red;
}

.menu-wrap ul li:hover ul li a:hover {
  color: #333;
  transition: color 0.4s ease;
}

.menu-wrap ul li:hover ul {
  width: 100%;
  position: relative;
}

.menu-wrap ul li:hover ul li:last-child {
  padding-bottom: 0;
}